@import "./../../styles/globalStyles.scss";

$leftMargin: 4vh;
$righMargin: 4vh;

#pageContainer {
  position: relative;
  min-height: 100vh;
}

.header {
  display: flex;
  margin-left: $leftMargin;
  h1 {
    font-size: 70px;
    color: $grayColor2;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
}

.body {
  margin-left: $leftMargin;
  h2 {
    font-size: 40px;
    color: $blackColor;
    margin: 0;
  }
  h2:first-of-type {
    margin-top: 8vh;
  }

  h2:last-of-type {
    margin-bottom: 5vh;
  }
  h3 {
    color: $grayColor;
    margin: 0;
  }
  h3:last-of-type {
    margin-bottom: 5vh;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $grayColor3;
  #googlePaySection {
    margin: 4vh $righMargin 4vh auto;
    text-align: right;
    h5 {
      margin: 0;
    }
  }
}

.hrLine {
  background: linear-gradient(to right, #7982da, #ffff);
  height: 0.2vh;
}

.beginChat {
  text-decoration: none;
  h2 {
    margin: auto;
    text-align: center;
    color: $whiteColor;
  }
  margin-top: 20vh;
  margin-left: $leftMargin;
  display: flex;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  z-index: 1;
  width: 20vh;
  height: 7.5vh;
  background-color: $grayColor3;
  overflow: hidden;
  position: relative;
  transition: all 0.3s;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $grayColor3;
    border-radius: 20px;
    border-bottom-right-radius: 0px;
    z-index: -2;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($grayColor3, 35%);
    transition: all 0.3s;
    border-radius: 20px;
    border-bottom-right-radius: 0px;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
  
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    text-align: center;
    #googlePaySection {
      margin: auto;
      margin-bottom: 2vh;
    }
  }
}
